* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 60vw;
  min-height: 100vh;
  margin: auto;
  border: 5px solid red;
  background-color: gray;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  background-color: limegreen;
}

article {
  padding: 1em;
  font-size: 1.2rem;
}

.header {
  padding: 1em;
  height: 4em;
  background-color: skyblue;
  
}

.footer {
  background-color: black;
  color: white;
}

.footer-text {
  font-size: 1.5rem;
  font-weight: 700;
  padding: .5em 0;
  text-align: center;

}

article p {
  margin-bottom: 10px;
}